ETag handling wrong

_Original author: 1me...@gmail.com (October 12, 2010 00:49:16)_

In the Sabre_DAV_Server-&gt;checkPreconditions() method the ETag from If-Match and If-None-Match headers are stripped of their surrounding quotes.
RFC 4818 states ETags are according to RFC 2616. There, RFC 2616 section 3.11, an ETag is defined as the whole thing not just the content of the quoted-string. Also an ETag might be prefixed with a &quot;W/&quot; to indicate a weak ETag. Not sure how that has to be handled though...

What happens now is, if an ETag has been calculated (by FSExt) it is sent out in headers without quotes.
Which is not a valid HTTP 1.1 ETag. The WebDAV DAV:getetag property also has the quotes within the element (See example at RFC 4818 section 9.1.5).

I suggest the following to fix the problem:
The getETag() methods in IFile instances should return the whole ETag with quotes (and possible prefixes).
The checkPreconditions() method in Server.php should not strip off the quotes for comparison.

_Original issue: http://code.google.com/p/sabredav/issues/detail?id=85_
