Schedule-default-calendar-URL is on non-standard resource

The schedule-default-calendar-URL property is on the user principal resource, a deviation from the standard. According to [RFC 6638 section 9.2](https://datatracker.ietf.org/doc/html/rfc6638#section-9.2), the schedule-default-calendar-URL property “MAY be defined on a scheduling Inbox collection.”

BusyCal does not expect this property on the principal, so it cannot retrieve or set the default calendar. Other clients may be similarly impacted.