A calendar-query REPORT with a text-match filter specifying collation="default" results in a 400 Bad Request

_Original author: ipqu...@gmail.com (October 19, 2010 12:14:41)_

<b>What steps will reproduce the problem?</b>
Send a request something like this one:

REPORT /calendars/jackc/ HTTP/1.1
X-Daydream-Test: calendar-query REPORT with a text-match property, collation=default.
Host: calendars
Depth:  1
Authorization: Basic amFja2M6YmVydGhh
Content-Length: 711

&lt;CD:calendar-query
  xmlns:CD=&quot;urn:ietf:params:xml:ns:caldav&quot;
  xmlns:XC=&quot;urn:ietf:params:xml:ns:xcal&quot;
  xmlns:D=&quot;DAV:&quot;&gt;
  &lt;D:prop&gt;
    &lt;D:resourcetype/&gt;
    &lt;CD:calendar-data&gt;
      &lt;CD:comp name=&quot;VCALENDAR&quot;&gt;
        &lt;CD:prop name=&quot;PRODID&quot;/&gt;
        &lt;CD:comp name=&quot;VTODO&quot;&gt;
          &lt;CD:prop name=&quot;SUMMARY&quot;/&gt;
        &lt;/CD:comp&gt;
      &lt;/CD:comp&gt;
    &lt;/CD:calendar-data&gt;
  &lt;/D:prop&gt;
  &lt;CD:filter&gt;
    &lt;CD:comp-filter name=&quot;VCALENDAR&quot;&gt;
      &lt;CD:comp-filter name=&quot;VTODO&quot;&gt;
        &lt;CD:prop-filter name=&quot;SUMMARY&quot;&gt;
          &lt;CD:text-match collation=&quot;default&quot;&gt;filing&lt;/CD:text-match&gt;
        &lt;/CD:prop-filter&gt;
      &lt;/CD:comp-filter&gt;
    &lt;/CD:comp-filter&gt;
  &lt;/CD:filter&gt;
&lt;/CD:calendar-query&gt;

What is the expected output? 
Expected output is a multistatus.

What do you see instead?
HTTP/1.1 400 Bad request
Date: Tue, 19 Oct 2010 11:25:08 GMT
Server: Apache/2.2.14 (Debian)
X-Powered-By: PHP/5.3.2-2
Content-Length: 269
Connection: close
Content-Type: application/xml; charset=utf-8

&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;d:error xmlns:d=&quot;DAV:&quot; xmlns:s=&quot;http://sabredav.org/ns&quot;&gt;
  &lt;s:exception&gt;Sabre_DAV_Exception_BadRequest&lt;/s:exception&gt;
  &lt;s:message&gt;Unknown collation: default&lt;/s:message&gt;
  &lt;s:sabredav-version&gt;1.3.0&lt;/s:sabredav-version&gt;
&lt;/d:error&gt;

What version of the product are you using? 
1.3.0

What client software are you using?
Custom Java test-rig

<b>Please provide any additional information below.</b>
http://tools.ietf.org/html/rfc4791#section-7.5:
 &quot;In the absence of a collation explicitly specified by the client, or
  if the client specifies the &quot;default&quot; collation identifier (as
  defined in [RFC4790], Section 3.1), the server MUST default to using
  &quot;i;ascii-casemap&quot; as the collation.&quot;

_Original issue: http://code.google.com/p/sabredav/issues/detail?id=96_
