SabreDAV doesn't reject PUT requests with Content-Range

_Original author: xmxs...@gmail.com (August 11, 2011 18:37:29)_

<b>What steps will reproduce the problem?</b>
1. $url is a SabreDAV collection URL.
2. echo foobar &gt; test.txt
3. curl -T test.txt $url
4. curl $url/test.txt
5. curl -T -C3 test.txt $url
6. curl $url/test.txt

<b>What is the expected output? What do you see instead?</b>
Expected:
foobar
foobar
Instead:
foobar
bar

<b>What version of the product are you using? What client software are you</b>
<b>using?</b>
PEAR::HTTP_WebDAV_Client and curl

<b>Please provide any additional information below.</b>

PUT requests per definition store a full resource.  There is currently no official way to resume an aborted upload though it is common to use Content-Range to do so.  HTTP_WebDAV_Client even uses this feature to stream data block by block to the server.

In the latter case the file is repeatedly overwritten with the next block.

These clients rely on RFC2616 section 9.6 which states for PUT requests:
   The recipient of the entity MUST NOT ignore any Content-*
   (e.g. Content-Range) headers that it does not understand or implement
   and MUST return a 501 (Not Implemented) response in such cases.

draft-ietf-httpbis-p2-semantics-15 changes this restriction to
   An origin server SHOULD reject any PUT request that contains a
   Content-Range header field, since it might be misinterpreted as
   partial content (or might be partial content that is being mistakenly
   PUT as a full representation).  Partial content updates are possible
   by targeting a separately identified resource with state that
   overlaps a portion of the larger resource, or by using a different
   method that has been specifically defined for partial updates (for
   example, the PATCH method defined in [RFC5789]).
(somewhere else it states that other unknown Content-\* headers should just be ignored.)

I'll attach a patch which implements this.

_Original issue: http://code.google.com/p/sabredav/issues/detail?id=139_
